<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "utf-8">
    <title>Movie rating finder</title>
    <link href = "{{ url_for('static', filename = 'css/base.css') }}" rel = "stylesheet">
  </head>
  <body>

    <div class = "navbar">
      <div class = "navbar_link">
        <a class = "link" href = "{{ url_for('moviefinder.home') }}" style = "text-decoration:none">Menu</a>
      </div>
    </div>

  </div>

  <div class = "container">
    {% block container %}{% endblock %}
  </div>

  </body>
</html>
